* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: mctitle;
    src: url('fonts/Minecraft-Ten.otf'); 
}
@font-face {
    font-family: mcnormal;
    src: url('fonts/Minecraft-Seven.otf'); 
}
@font-face {
    font-family: mcsmall;
    src: url('fonts/Minecraft-Five.otf'); 
}@font-face {
    font-family: mcsmalltick;
    src: url('fonts/Minecraft-Five-Bold.otf'); 
}

#log {
    font-family: mcnormal;
}

.log-message.error {
    color: #ff8080;
    background-color: #290000;
}

.log-message.warn {
    color: #ffcb6b;
    background-color: #332a00;
}

.log-message.info {
    color: #a5a5a5;
    background-color: #242424;
}

.log-message.log {
    color: #a5a5a5;
    background-color: #242424;
}


.stitle {
    font-family: mctitle;
    font-size: 40;
    font-palette: #ffffff;
    color: #ffffff;
}
.mtext {
    font-family: mcnormal;
    font-palette: #ffffff;
    color: #ffffff;
}
.search {
    font-family: mcnormal;
    font-palette: #ffffff;
    font-size: 20;
    color: #ffffff;
    border-bottom-color: #1e1e1f;
    border-left-color: #1e1e1f;
    border-right-color: #1e1e1f;
    border-top-color: #1e1e1f;
    background-color: #303132;
    width: 100%;
    height: 20;
    
}
.fuck {
    font-family: mcsmall;
    font-palette: #ffffff;
    color: #ffffff;
}
.link {
    font-family: mcsmall;
    font-palette: #ffffff;
    color: #ffffff;
}
body {
    background-color: #474849;
    
}
